.sidebar  {
  float: left;
  width: 150px;
  height: 100%;
  background-color: rgb(85, 0, 0);
  margin-left: 0px;
  margin-top: 0px;
  padding-left: 0px;
  padding-top: 0px;
  border-left: 0px;
  border-top: 0px;
}
body  {
  background-color: rgb(128, 21, 21);
}
.repolinks  {
  color: rgb(255, 170, 170);
  margin-left: 10px;
  font-family: cursive;
  text-decoration: none;
}
