.sidebar  {
  float: left;
  width: 150px;
  height: 900px;
  background-color: rgb(85, 0, 0);
}
body  {
  background-color: rgb(128, 21, 21);
  margin: 0px;
}
.sidetext  {
    color: rgb(255, 170, 170);
    margin-left: 10px;
    margin-right: 10px;
    font-size: 11px;
}
.sidelinks  {
  color: rgb(255, 170, 170);
  margin-left: 10px;
  line-height: 40px;
}
.sidelinks:hover  {
  color: rgb(212, 106, 106);
}
.sideabout  {
  color: rgb(255, 170, 170);
  margin-left: 10px;
  margin-top: 30px;
  line-height: 100px;
}
h1  {
  font-size: 15px;
  margin-left: 10px;
  color: rgb(212, 106, 106);
  text-decoration: underline;
}
a {
  text-decoration: none;
}
.container  {
  margin-left: 150px;
  margin-top: 0px;
  padding-top: 0px;
  border-top: 0px;
}
.jumbotron  {
  background-color: grey;
}
.header {
  text-align: center;
}
